:root {
	/* Global */
	--ecc-shade-lighter: #d1d5db; /* var(--ecc-shade-lighter) */
}

.ecc .grid {
    border-top: 1px dotted var(--ecc-shade-lighter);
    display: grid; 
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr; 
    gap: 1rem; 
    padding-block: 0.5rem;
}

.ecc .hr + .grid {
    border-top: none !important;
}

.ecc hr {
    border-top: 1px solid var(--ecc-shade-lighter);
    margin: 0;
    padding: 0;
}

.ecc .end {
    border-top: 2px solid var(--ecc-shade-lighter);
}



@media screen and ( max-width: 814px ){
    .ecc label small {
        width: 100%;
        display: block;
    }
}


@media screen and ( max-width: 580px ){
    .ecc .grid {
        grid-template-columns: 1fr 1fr; 
        padding-block: 1rem;
        gap: 0.5rem;
    }

    .ecc input {
        width: 100%;
    }

    .ecc .justify-content-end {
        justify-content: flex-start;
    }

    .ecc .grid > *:first-child,
    .ecc .grid > *:nth-child(2) {
        grid-column: 1 / -1;
    }
}


@media print {

    * {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter:none !important;
        height: auto !important;
	}

    @page {
		margin: 0.5cm;
	}

	h1, h2, h3, h4, h4 {
		page-break-after: avoid;
	}

    .layout {
        padding: 0 !important;
    }

    button  {
        display: none !important;
    }

    .ecc small,
    input {
        display: block !important;
    }
}